/* login.css */

/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3884d0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


/* Caixa de login */
.login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Título do Formulário */
h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo dos campos de input */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
}

.input-group input:focus {
    border-color: #1e90ff;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.5); /* Leve sombra ao focar no input */
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #1e90ff;
}

/* Botão de envio */
.submit-btn {
    margin-top: 20px;
}

.submit-btn button {
    background-color: #1e90ff;
    color: #fff;
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn button:hover {
    background-color: #007bff;
}

/* Link para cadastro */
.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #1e90ff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}


/* Responsividade */
@media (max-width: 480px) {
    .login-box {
        padding: 20px;
        max-width: 90%;
    }

    h2 {
        font-size: 20px;
    }

    .input-group input,
    .submit-btn button {
        padding: 10px;
    }
}

.erro-login {
    color: #ffffff; /* vermelho escuro */
    background-color: #f62a2a; /* fundo rosado claro */
    border: 1px solid #D8000C;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

